{% include 'admin/head.html' %}
<div class="pagetitle">
      <h1>Propiedad</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Hogar</a></li>
          <li class="breadcrumb-item active">Tablas</li>
          <li class="breadcrumb-item active">Añadir propiedad</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="row">
    <!-- Formulario de libros -->
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Datos de la propiedad</div>
            <br/>
            <div class="card-body">
                <form action="/admin/casa/guardar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Id de la propiedad:</label>
                        <input type="text" class="form-control" name="id_casa" id="id_casa" aria-describedby="helpId" placeholder="Escriba el id de la propiedad" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" name="nom_casa" id="nom_casa" aria-describedby="helpId" placeholder="Escriba el nombre de la propiedad" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Radio Perimetro:</label>
                        <input type="text" class="form-control" name="radio_perimetro" id="radio_perimetro" aria-describedby="helpId" placeholder="Escriba el rradio perimetro de la propiedad" />
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar propiedad</button>
                </form>
            </div>
            <div class="card-footer text-muted"></div>
        </div>
    </div>
    <!-- Fin formulario de libros -->
    <!-- tabla de recepcion libros -->
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id de la propiedad</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Radio Perimetro</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for casa in casa %}
                    <tr>
                        <td>{{ casa[0] }}</td>
                        <td>{{ casa[1] }}</td>
                        <td>{{ casa[2] }}</td>
                        <td>
                            <form action="/admin/casa/borrar" method="post">
                            <input value="{{ casa[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn btn-danger">Eliminar</button>
                                
                             
                            </form>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- fin tabla -->
</div>




{% include 'admin/footer.html' %}
