{% include 'admin/head.html' %}

<div class="pagetitle">
    <h1>Factura</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/">Hogar</a></li>
            <li class="breadcrumb-item active">Tablas</li>
            <li class="breadcrumb-item active">Añadir factura</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <!-- Formulario de libros -->
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Datos de la factura</div>
            <br/>
            <div class="card-body">
                <form action="/admin/factura/guardar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="id_producto" class="form-label">Servicio:</label>
                        <select name="id_producto" id="id_producto" class="form-control" required>
                            <option value="" hidden>Seleccione el servicio</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[2] }}</option>
                            {% endfor %}
                        </select>


                    </div>

                    <div class="mb-3">
                        <label for="id_propietario" class="form-label">Numero de documento del propietario :</label>
                        <select name="id_propietario" id="id_propietario" class="form-control" required>
                            <option value="" hidden>Seleccione el propietario</option>
                            {% for propietario in propietarios %}
                            <option value="{{ propietario[0] }}"> {{ propietario[0] }} -- {{propietario[1]}} </option>
                            {% endfor %}
 
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_cliente" class="form-label">Numero de documento del cliente :</label>
                        <select name="id_cliente" id="id_cliente" class="form-control" required>
                            <option value="" hidden>Seleccione el cliente</option>
                            {% for cliente in clientes %}
                            <option value="{{ cliente[0] }}"> {{ cliente[0] }} -- {{cliente[1]}} </option>
                            {% endfor %}
 
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Cantidad de personas:</label>
                        <input type="text" class="form-control" name="cantidad" id="cantidad" aria-describedby="helpId"
                            placeholder="Escriba la direccion del cliente" />
                    </div>

                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Valor de la venta:</label>
                        <input type="text" class="form-control" name="valor_venta" id="valor_venta"
                            aria-describedby="helpId" placeholder="Escriba la direccion del cliente" />
                    </div>

                    <div class="mb-3">
                        <label for="fecha_venta" class="form-label">Fecha y hora de venta:</label>
                        <input type="datetime-local" class="form-control" name="fecha_venta" id="fecha_venta" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar factura</button>
                </form>
            </div>
            <div class="card-footer text-muted"></div>
        </div>
    </div>
    <!-- Fin formulario de libros -->
    <!-- tabla de recepcion libros -->
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nuero de la factura</th>
                        <th scope="col">Id del servicio</th>
                        <th scope="col">Numero de propietario</th>
                        <th scope="col">Numero de documento del cliente</th>
                        <th scope="col">Cantidad de personas</th>
                        <th scope="col">Valor de venta</th>
                        <th scope="col">Fecha de venta</th>

                    </tr>
                </thead>
                <tbody>
                    {% for factura in factura %}
                    <tr>
                        <td>{{ factura[0] }}</td>
                        <td>{{ factura[1] }}</td>
                        <td>{{ factura[2] }}</td>
                        <td>{{ factura[3] }}</td>
                        <td>{{ factura[4] }}</td>
                        <td>{{ factura[5] }}</td>
                        <td>{{ factura[6] }}</td>

                        <td>
                            <form action="/admin/factura/borrar" method="post">
                                <input value="{{ factura[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-danger">Eliminar</button>


                            </form>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- fin tabla -->
</div>




{% include 'admin/footer.html' %}