{% include 'admin/head.html' %}

<div class="pagetitle">
      <h1>Servicios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Hogar</a></li>
          <li class="breadcrumb-item active">Tablas</li>
          <li class="breadcrumb-item active">Añadir Servicio</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="row">
    <!-- Formulario de libros -->
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Datos del servicio</div>
            <br/>
            <div class="card-body">
                <form action="/admin/producto/guardar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="id_producto" class="form-label">Id del servicio :</label>
                        <input type="text" class="form-control" name="id_producto" id="id_producto" aria-describedby="helpId" placeholder="Escriba el id del servicio" />
                    </div>
                    <div class="mb-3">
                        <label for="id_tipoproducto" class="form-label">Id del tipo de servicio :</label>
                        <select name="id_tipoproducto" id="id_tipoproducto" class="form-control" required>
                            <option value="" hidden>Seleccione el tipo de servicio</option>
                            {% for tipo_producto in tipo_producto %}
                            <option value="{{ tipo_producto[0] }}"> {{ tipo_producto[0] }} -- {{tipo_producto[1]}} </option>
                            {% endfor %}
 
                        </select>
                        
                    </div>
                    <div class="mb-3">
                        <label for="nombre_libro" class="form-label">Descripcion :</label>
                        <input type="text" class="form-control" name="descripcion" id="descripcion" aria-describedby="helpId" placeholder="Escriba la descripcion del servicio" />
                    </div>
                    

                    <button type="submit" class="btn btn-primary">Agregar servicio</button>
                </form>
            </div>
            <div class="card-footer text-muted"></div>
        </div>
    </div>
    <!-- Fin formulario de libros -->
    <!-- tabla de recepcion libros -->
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id del servicio</th>
                        <th scope="col">Id del tipo del servicio</th>
                        <th scope="col">Descripcion</th>


                    </tr>
                </thead>
                <tbody>
                    {% for producto in producto %}
                    <tr>
                        <td>{{ producto[0] }}</td>
                        <td>{{ producto[1] }}</td>
                        <td>{{ producto[2] }}</td>

                        <td>
                            <form action="/admin/producto/borrar" method="post">
                            <input value="{{ producto[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                
                             
                            </form>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- fin tabla -->
</div>




{% include 'admin/footer.html' %}
