{% include 'admin/head.html' %}

<div class="pagetitle">
      <h1>Propietario</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/">Hogar</a></li>
          <li class="breadcrumb-item active">Tablas</li>
          <li class="breadcrumb-item active">Añadir propietario</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="row">
    <!-- Formulario de libros -->
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Datos del propietario</div>
            <br/>
            <div class="card-body">
                <form action="/admin/propietario/guardar" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="id_propietario" class="form-label">Número de documento del propietario:</label>
                        <input type="text" class="form-control" name="id_propietario" id="id_propietario" aria-describedby="helpId" placeholder="Escriba el número de documento del propietario" />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Escriba el nombre del propietario" />
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido:</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" aria-describedby="helpId" placeholder="Escriba el apellido del propietario" />
                    </div>
                    <div class="mb-3">
                        <label for="sexo" class="form-label">sexo:</label>
                        <input type="text" class="form-control" name="sexo" id="sexo" aria-describedby="helpId" placeholder="Escriba la sexo del propietario" />
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_casa" class="form-label">Id de la propiedad:</label>
                        <select name="id_casa" id="id_casa" class="form-control" required>
                       <option value="" hidden>Seleccione la propiedad</option>
                       {% for casa in casa %}
                       <option value="{{ casa[0] }}"> {{ casa[0] }} -- {{casa[1]}} -- {{casa[2]}} </option>
                       {% endfor %}
 
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar propietario</button>
                </form>
            </div>
            <div class="card-footer text-muted"></div>
        </div>
    </div>
    <!-- Fin formulario de libros -->
    <!-- tabla de recepcion libros -->
    <div class="col-md-7">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Número de documento del propietario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">sexo</th>
                        <th scope="col">Id de la propiedad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for propietario in propietario %}
                    <tr>
                        <td>{{ propietario[0] }}</td>
                        <td>{{ propietario[1] }}</td>
                        <td>{{ propietario[2] }}</td>
                        <td>{{ propietario[3] }}</td>
                        <td>{{ propietario[4] }}</td>
                        <td>
                            <form action="/admin/propietario/borrar" method="post">
                            <input value="{{ propietario[0] }}" type="hidden" name="txtID" id="txtID">
                                <button type="submit" class="btn btn btn-danger">Eliminar</button>
                                
                             
                            </form>


                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- fin tabla -->
</div>




{% include 'admin/footer.html' %}
